@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f0f2f5;
    padding: 0 15px;
}
welcome-page .text {
    margin-bottom: 90px;
}
welcome-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
}

welcom-page h1 {
    font-size: 4rem;
    color: black;
    margin-bottom: 10px;
}
.welcome-page p {
    font-size: 1.7rem;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    background: #fff;
    padding : 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 
                0 8px 16px rgba(0, 0, 0, 0.1);

}
form input {
    height: 55px;
    width: 100%;
    padding: 12px 15px;
    margin: 8px 0;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    font-size: 1.6rem;
    margin-bottom: 15px;
}
form input:focus {
    outline: none;
    border-color: #1877f2;
    box-shadow: 0 0 0 2px rgba(24, 119, 242, 0.2);
}
::placeholder {
    color: #777;
    font-size: 1.63rem;
}
.login-link {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}
.login-link .login-btn {
    background: black;
    color: #fff;
    outline: none;
    border: none;
    padding: 15px 0;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s ease;
}
.login-link .login-btn:hover {
    background: lightslategrey;
}
form a {
    text-decoration: none;
}
.login-link .forget-password {
    color: black;
    font-size: 0.875rem;
}
.login-link .forget-password:hover {
    text-decoration: underline;
}
hr {
    border: none;
    height: 1px;
    background: #ccc;
    margin-bottom: 20px;
    margin-top: 20px;
    border-top: 1px solid #dddfe2;
    margin: 20px 0;
}
.create-account {
    margin-top: 25px;
    text-align: center;
    margin-bottom: 20px;
}
.create-account a{
    padding: 15px 20px;
    background: red;
    border-radius: 6px;
    color: #fff;
    font-size: 1.063rem;
    font-weight: 600;;
    transition: 0.2s ease;
}
.create-account a:hover {
    background: black;
}
@media (max-width: 900px) {
    .welcome-page {
        flex-direction: column;
        text-align: center;
    }
    .welcome-page .text {
        margin-bottom: 30px;
    }
}

@media (max-width: 400px) {
    .welcome-page h1 {
        font-size: 3.5rem;
    }
    .welcome-page p {
        font-size: 1.3rem;
    }
    form {
        padding: 15px;
    }
}